.lista-apis {
 width: 90vw;
 display: flex;
 padding: 40px;
 align-items: center;
 flex-direction: column;
 margin: 0 auto;
}

.colunas-apis {
 gap: 20px;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
justify-content: center;
}

.apis {
 height: 250px;
 padding: 10px;
 cursor: pointer;
 flex: 0 1 300px;
 max-width: 350px;
 text-align: center;
 border-radius: 8px;
 border: 1px solid #ccc;
 transition: transform 0.2s, box-shadow 0.2s;
}

.apis:hover {
 box-shadow: 0 4px 10px #0002;
}