.lista-apis {
 width: 100%;
 display: flex;
 padding: 40px;
 margin: 0 auto;
 align-items: center;
 flex-direction: column;
 background-color: var(--background);
}

.colunas-apis {
 gap: 20px;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
justify-content: center;
}

.apis {
 width: 350px;
 height: 250px;
 padding: 10px;
 cursor: pointer;
 flex: 0 1 350px;
 transition: 0.3s;
 text-align: center;
 border-radius: 8px;
 border: 1px solid #ccc;
}

.apis:hover {
 scale: 1.1;
 box-shadow: 0 0 10px 4px var(--lista-apis-box-shadow-color);
}