body {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.usuario_div_principal {
  width: 100%;
  display: flex;
  min-height: 100vh;
  user-select: none;
  align-self: center !important;
  align-items: center;
  justify-self: center !important;
  justify-content: center;
}

.usuario_div_principal div:first-child {
  gap: 20px;
  display: flex;
  width: 300px;
  padding: 20px;
  height: fit-content;
  border-radius: 8px;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: space-between;
}

.dados_usuario {
  gap: 4px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.dados_usuario input {
  padding: 10px 15px;
  outline: none;
  font-size: large;
  border-radius: 8px;
  border: 1px solid #ddd;
}

#tel_usuario {
  gap: 10px;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  flex-direction: row;
  justify-content: start;
}

#tel_usuario input{
  margin: 0;
}

#tel_usuario input:first-child {
  width: 50px;
  padding: 8px;
  text-align: center;
}

#tel_usuario input:last-child {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.ver_senha {
  right: 2%;
  bottom: 5%;
  width: 25px;
  height: 40px;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#div_search {
  height: 80%;
}

.span_lembrar_senha {
  width: 21px;
  height: 21px;
  border-radius: 4px;
  border: 1px solid #777;
}

.span_lembrar_senha:after {
  content: "";
  display: none;
  position: absolute;
}

.label_lembrar_senha {
  gap: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: start;
}

.label_lembrar_senha input {
  opacity: 0;
}

.label_lembrar_senha input:checked~.span_lembrar_senha {
  background-color: var(--primary-main);
}

.label_lembrar_senha input:checked~.span_lembrar_senha:after {
  display: block;
}

.label_lembrar_senha:hover input~.span_lembrar_senha {
  border: 1px solid #ddd;
}

.label_lembrar_senha .span_lembrar_senha:after {
  top: 4px;
  left: 8px;
  width: 5px;
  height: 10px;
  position: relative;
  border: solid #fff;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

.input_lembrar_senha {
  display: none;
}

#botoes_acesso {
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botoes_usuario {
  border: 0;
  width: 50%;
  margin: 4px 0;
  color: #ddd;
  padding: 10px;
  cursor: pointer;
  font-size: large;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  background-color: var(--primary-dark);
}

.botoes_usuario:hover {
  color: #fff;
}

.botoes_claros {
  background-color: var(--primary-main);
}

.input_error {
  border-color: #a00 !important;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
}

.botoes-full {
  width: 100%;
}

.link-recuperacao {
  color: var(--primary-main);
}

.avisosCadastro {
  right: 5%;
  color: var(--erro-validar-dados-usuario);
  bottom: -20px;
  font-size: small;
  text-align: right;
  position: absolute;
}

#btVoltar {
  top: 20px;
  left: 20px;
  width: 40px;
  z-index: 10;
  height: 40px;
  border: none;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../assets/voltar.png");
}