.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--primary-main);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
  position: fixed;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: var(--icon-logo-color);
  border-radius: 25px 18px 25px 25px;
}

.dark-mode .logo img {
  background-color: var(--logo-bg-color-dark); /* Cor de fundo no modo escuro */
}

.logo span {
  font-size: 16px;
  font-weight: 800;
  line-height: 19.5px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 0px 8px 0px 8px;
}

.search-container input {
  background: transparent;
  border: 1px solid #000;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  color: #ffffff;
  outline: none;
}

.search-container input:focus {
  border: 1px solid #ffffff;
}
.search-container img {
  width: 30px;
  height: 30px;
  padding: 6px;
}

.theme-login-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.theme-login-container .login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--button-text-color);
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  height: 35px;
  cursor: pointer;
  width: 120px;
}

.theme-login-container .login-button:hover {
  background-color: var(--button-hover-background);
}

.theme-login-container .login-button img {
  width: 23px;
  height: 23px;
  padding: 6px;
}

.theme-login-container .login-button span {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 19.5px;
  align-items: center;
}

.theme-switcher {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 23px;
  padding: 6px;
  margin-top: -5px;
  color: var(--text-color);
}
