.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--primary-main);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
  width: 100%;
  z-index: 3;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: var(--icon-logo-color);
  border-radius: 25px 18px 25px 25px;
}

.dark-mode .logo img {
  background-color: var(--logo-bg-color-dark); /* Cor de fundo no modo escuro */
}

.logo span {
  font-size: 16px;
  font-weight: 800;
  line-height: 19.5px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 0px 8px 0px 8px;
  transition: flex 0.3s ease; /* Adiciona uma transição suave */
}

.search-container.expanded {
  flex: 1; /* Ocupa mais espaço quando expandido */
}

.search-container input {
  background: var(--search-background); /* Usando a variável de cor do tema */
  border: 1px solid #000;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  color: var(--text-color); /* Adaptando a cor do texto de acordo com o tema */
  outline: none;
}

.search-container input:focus {
  border: 1px solid var(--text-color); /* Usando a cor do texto para o foco */
}

.search-container img {
  width: 30px;
  height: 30px;
  padding: 6px;
}

.theme-login-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 1;
}

.theme-login-container .login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color: var(--button-text-color);
  padding: 0px 10px;
  border-radius: 15px;
  height: 35px;
  cursor: pointer;
  width: 150px;
}

.theme-login-container .login-button:hover {
  background-color: var(--button-hover-background);
}

.theme-login-container .login-button img {
  width: 23px;
  height: 23px;
  padding: 6px;
}

.theme-login-container .login-button span {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 19.5px;
  align-items: center;
}

.theme-switcher {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 23px;
  padding: 6px;
  margin-top: -5px;
  color: var(--text-color);
}

.close-icon {
  font-size: 25px; /* Tamanho do ícone, ajuste conforme necessário */
}

.close-icon .dark-mode {
  color: white; /* Define a cor do ícone como branco */
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  top: 120%;
  right: 0;
  min-width: 150px;
  width: fit-content;
  z-index: 10;
}

.dropdown-menu a {
  padding: 10px;
  text-decoration: none;
  color: var(--button-text-color);
  display: block;
}

.dropdown-menu a:hover {
  font-weight: bold;
}

.login-button-container {
  position: relative; /* Necessário para posicionar o menu suspenso em relação ao botão */
}
