.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Indica que o item é clicável */
}

.carousel-image {
  width: 100%; /* Imagem ocupa toda a largura do item do carousel */
  height: auto; /* Mantém a proporção da imagem */
}
.react-multi-carousel-list {
  margin-top: 100px;
}
.carousel-container{
    margin-top: 100px;
}