/* Desabilita setas padrões */
.slick-prev::before,
.slick-next::before {
  display: none;
}

/* Estilos para as setas personalizadas */
.custom-next-arrow,
.custom-prev-arrow {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

/* Define a seta da direita */
.custom-next-arrow {
  background-image: url("../../assets/right-arrow.png"); /* Caminho para a imagem da seta direita */
  right: 10px;
}

/* Define a seta da esquerda */
.custom-prev-arrow {
  background-image: url("../../assets/left-arrow.png"); /* Caminho para a imagem da seta esquerda */
  left: 10px;
}

/* Estilos restantes do carousel */
.carousel-container {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  position: relative;
}

.carousel-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.carousel-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  float: none;
}

.carousel-image {
  width: 80%;
  height: auto;
  transition: transform 0.3s ease;
}

.slick-center .carousel-image {
  transform: scale(1.4); /* Zoom para o slide central */
}

.slick-prev,
.slick-next {
  z-index: 2;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 0.8;
}

.slick-arrow {
  z-index: 1;
}

.slick-dots li {
  width: 5px;
  margin: 0 5px;
}

.slick-dots li.slick-active button {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
