/* Desabilita setas padrões */
.slick-prev::before,
.slick-next::before {
  display: none;
}

/* Estilos para as setas personalizadas */
.custom-next-arrow,
.custom-prev-arrow {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(var(--setas-navegacao-cor));
  z-index: 2;
}

/* Define a seta da direita */
.custom-next-arrow {
  background-image: url("../../../../assets/right-arrow.png");
  /* Caminho para a imagem da seta direita */
  right: 10px;
}

/* Define a seta da esquerda */
.custom-prev-arrow {
  background-image: url("../../../../assets/left-arrow.png");
  /* Caminho para a imagem da seta esquerda */
  left: 10px;
}


/* Estilos restantes do carousel */
.carousel-container {
  width: 100%;
  text-align: center;
  margin: auto;
  position: relative;
}

.carousel-title {
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  float: none;
  width: 500px;
  /* Largura fixa para cada slide */
  height: 300px;
  /* Altura fixa para cada slide */
}

.carousel-image {
  background-color: #FFF;
  border-radius: 10px;
  object-fit: cover;
  /* Garante que a imagem preencha o espaço do contêiner */
  margin: auto;
  /* Centraliza a imagem */
  width: 250px;
  /* Ajusta a largura para preencher o slide */
  height: 250px;
  /* Ajusta a altura para preencher o slide */
  transition: transform 0.3s ease;
}

.slick-center .carousel-image {
  transform: scale(1.4);
  /* Zoom para o slide central */
}

.slick-prev,
.slick-next {
  z-index: 2;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 0.8;
}

.slick-arrow {
  z-index: 1;
}

.slick-dots li {
  width: 20px;
}

.slick-dots li.slick-active button {
  transform: scale(1.8);
  transition: transform 0.3s ease;
}

/* Estilo dos dots no modo escuro */
.dark-mode-slider .slick-dots li button:before {
  color: var(--button-text-color);
  opacity: 0.7;
  /* Opacidade dos pontos inativos */
}

.dark-mode-slider .slick-dots li.slick-active button:before {
  color: var(--button-text-color);
  opacity: 1;
  /* Opacidade do ponto ativo */
}