#Minhaapi * {
 user-select: none;
 box-sizing: border-box;
}

#Minhaapi {
 width: 100%;
 height: 100%;
 display: flex;
 margin-top: 160px;
 justify-content: center;
}

#Minhaapi form {
 height: 80%;
 display: flex;
 padding: 40px;
 overflow-y: auto;
 align-items: center;
 font-weight: bold;
 border-radius: 5px;
 margin-bottom: 50px;
 flex-direction: column;
 max-height: fit-content;
 color: var(--text-color);
 width: clamp(fit-content, 50%, 600px);
 background: var(--linear-gradient-tema);
 box-shadow: 0 0 10px 4px var(--box-shadow-color);
 border: 1px solid var(--lista-apis-box-shadow-color);
}

#Minhaapi label {
 width: 100%;
 display: flex;
 height: fit-content;
 flex-direction: column;
}

#Minhaapi i {
 color: var(--cadasto-texto-destaque);
}

.textarea_descricao {
 height: 150px;
}

#Minhaapi input,
.textarea_descricao {
 width: 100%;
 resize: none;
 outline: none;
 margin-top: 4px;
 font-size: large;
 font-weight: bold;
 padding: 10px 15px;
 border-radius: 8px;
 border: 1px solid #FFF;
}

#Botoes {
 width: 100%;
 display: flex;
 margin-top: 20px;
 flex-direction: row;
 justify-content: space-between;
}

.botoes_api {
 width: 110px;
 padding: 10px;
 color: #DDD;
 cursor: pointer;
 font-size: large;
 text-align: center;
 border-radius: 8px;
 text-decoration: none;
 background-color: var(--primary-dark);
 border: 1px solid var(--lista-apis-box-shadow-color);
}

.avisosCadastro {
 top: 0;
 right: 0;
 font-size: large;
 position: relative;
 color: var(--erro-validar-dados-usuario) !important;
}

.input_error {
 border-color: var(--erro-validar-dados-usuario) !important;
}

.dados_api {
 display: flex;
 margin-bottom: 15px;
 flex-direction: column;
}